<footer class="site-footer">

    <div class="inner">

		<a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
		<section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format='YYYY'}} &bull; All rights reserved.</section>
		<section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a></section>
    
    </div> <!-- /end .inner -->

</footer> <!-- /end .site-footer -->

<p id="back-top"><a href="#top"><span></span></a></p>